<html lang="en">
<%- include('./partials/header.ejs')%>
<body>  
    <div class="title"> 
        <h1 class="website-title"> Spotify Greenhouse </h1>
    </div>
    <div class="content">
        <p class="message"> OOPS! There was an error :( </p>
    </div>
    <br><br>
</body>
</html>