<html lang="en">
<%- include('./partials/header.ejs')%>
<body onload="change_height()" onresize="change_height()">  
    <div class="flower-title"> 
        <h1 class="flower-website-title"> Spotify Greenhouse </h1>
    </div>
    <div class="menu-content">
        <p id="intro-label">
            Generate a greenhouse using your most-listened-to tracks on Spotify!
        </p>

        <div class="time-span-links">
            <div id="short-term">
                <a href="/greenhouse-onemonth" id="short-term-link">
                    <img id="bag-closed-short" src="bag-closed.png">
                    <img id="bag-open-short" src="bag-open.png">
                </a>
                <p class="time-label"> 
                    LAST MONTH 
                </p>
            </div>
            <div id="medium-term">
                <a href="/greenhouse-sixmonths" id="medium-term-link">
                    <img id="bag-closed-medium" src="bag-closed.png">
                    <img id="bag-open-medium" src="bag-open.png">
                </a>
                <p class="time-label"> 
                    LAST 6 MONTHS 
                </p>
            </div>
            <div id="long-term">
                <a href="/greenhouse-alltime"  id="long-term-link">
                    <img id="bag-closed-long" src="bag-closed.png">
                    <img id="bag-open-long" src="bag-open.png">
                </a>
                <p class="time-label"> 
                    ALL TIME 
                </p>
            </div>
            
            <div id="hint">
                <p>Count the petals on the flowers for the length of the songs!</p>
                <img id="string-of-flowers" src="string-of-flowers.png">
            </div>
        </div>
        
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        
        <script>
            function change_height() {
                var c1 = $('.menu-content').width();
                $('.menu-content').css({
                    'height': c1*.37 + 'px'
                });

                var c2 = $('.flower-title').width();
                $('.flower-title').css({
                    'height': c2*.045 + 'px'
                });
            }
        </script>

    </div>
    <br><br>
</body>
</html>
