/*----------------------------------*/
/****** TITLE AND MISCELLANEOUS *****/
/*----------------------------------*/
.message {
    margin: 30px;
}
.content {
    border: solid;
    margin: 10px;
    background-color: lightblue;
    width: auto;
}
.title-page-title {
    position: relative;
    top: 14%;
    width: auto;
    display: block;
    text-align: center;
}
.title-text {
    color: black;
    font-family: FreeMono, monospace; 
    /* font-size: 50; */
    font-size: 3.5vw;
}
#title-flower {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 13%;
    left: -2.5%;
    width: 4.5%;
    height: 10%;
}
#login-wrapper {
    position: relative;
    width: 25%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#login-button {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 200%;
    left: -8%;
}
#login-button-hover {
    position: absolute;
    display: none;
    width: 100%;
    height: auto;
    top: 200%;
    left: -8%;
}
#login-button-link:hover #login-button-hover {
    display: inline;
}
.footer-info {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 40%;
    left: -3%;
    line-height: 0.60;
    font-size: 1vw;   
}

/*----------------------------------*/
/**** MENU OPTIONS AND POSITIONS ****/
/*----------------------------------*/
.menu-content{
    border: solid;
    margin: 10px;
    background-color: lightblue;
    width: auto;
}
#intro-label {
    position: relative;     
    width: 100%;
    height: 5%;
    top: 9.6%;
    margin: auto;
    text-align: center;
    font-family: "Courier New", "Lucida Console", monospace;
    font-weight: bold;
    font-size: 1.8vw;
}
.time-span-links {
    position: relative;
    top: 16%;
    display: flex;
    width: 57.1%;
    height: 4%;
    margin: auto;
}
.time-label {
    position: relative;
    top: 1150%;
    left: -14%;
    margin: auto;
    text-align: center;
    font-family: "Courier New", "Lucida Console", monospace;
    font-weight: bold;
    font-size: 1.3vw;
}
#hint {
    position: absolute;     
    top: 1400%;
    margin: auto;
    width: 100%;
    left: -2%;
    text-align: center;
    font-family: "Courier New", "Lucida Console", monospace;
    font-weight: bold;
    /* font-size: 21; */
    font-size: 1.4vw;
}
#string-of-flowers {
    position: absolute;     
    margin: auto;   
    width: 12%;
    left: 43%;
    top: 90%;
}


/* SHORT TERM*/
#short-term {
    position: relative; 
    flex: 33%; 
}
#bag-closed-short {
    position: absolute;
    height: 1100%;
    width: 70%; 
}
#bag-open-short {
    display: none;
    position: absolute;
    height: 1100%;
    width: 70%;  
}
#short-term:hover #bag-open-short {
    display: inline;
}

/* MEDIUM TERM */
#medium-term {
    position: relative;  
    flex: 33%;
}
#bag-closed-medium {
    position: absolute;
    height: 1100%;
    width: 70%;  
}
#bag-open-medium {
    display: none;
    position: absolute;
    height: 1100%;
    width: 70%;   
}
#medium-term:hover #bag-open-medium {
    display: inline;
}

/* LONG TERM */
#long-term {
    position: relative;
    flex: 33%;  
}
#bag-closed-long {
    position: absolute;
    height: 1100%;
    width: 70%;  
}
#bag-open-long {
    display: none;
    position: absolute;
    height: 1100%;
    width: 70%;   
}
#long-term:hover #bag-open-long {
    display: inline;
}

/*----------------------------------*/
/******* GREENHOUSE GRAPHICS ********/
/*----------------------------------*/

.greenhouse {
    border: solid;
    margin: 10px;
    background-color: lightblue;
    width: auto;
    /* padding-top: 42%; */
    /* width: 1400px; */
    /* height: 600px; */
}

#entire-greenhouse-background {
    position: relative;
    top: -305.7%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
@media only screen and (max-width: 480px) {
    
    #entire-greenhouse-background {
        position: relative;
        bottom: 114vw;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

}
.flower-title {
    border: solid;
    margin: 10px;
    background-color: rgb(96, 177, 96);
    width: auto;
}
.flower-website-title {
    position: relative;
    color: black;
    font-family: FreeMono, monospace; 
    font-size: 2.2vw;
    left: 4.5%;
    top: -12%;
}

/*----------------------------------*/
/******* BACK TO MENU BUTTON ********/
/*----------------------------------*/

#menu-button-wrapper {
    position: relative;
    width: 4.28%;
    left: 2.14%;
    top: -401%;
    display: block;
}
#menu-button {
    position: absolute;
    display: block;
    width: 100%; 
    z-index: 7;
}
#menu-button-hover {
    position: absolute;
    display: none;
    width: 100%;  
    z-index: 7;
}
#menu-link:hover #menu-button-hover{
    display: inline;
}

/*----------------------------------*/
/*** FLOWER GRAPHICS AND POSITIONS ***/
/*----------------------------------*/

/*sunflower with variable number of rings*/
.songflower-sunflower{
    position: relative;
    height: 16.67%;
    width: 7.14%;
    top: 14.5%;
    left: 53%;
}
.songflower-sunflower #sunflower-petals {
    position: absolute; 
    height: 46%;
    width: 46%;
    z-index: 4;
    top: 27%;
    left: 27%;  
    
} 
.songflower-sunflower #sunflower-ring-7 {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0%;
    left: 0%;
}
.songflower-sunflower #sunflower-ring-6 {
    position: relative;
    height: 94%;
    width: 94%;
    z-index: 3;
    top: 3%;
    left: 3%;
}
.songflower-sunflower #sunflower-ring-5 {
    position: relative;
    height: 94%;
    width: 94%;
    z-index: 3;
    top: 3%;
    left: 3%;
}
.songflower-sunflower #sunflower-ring-4 {
    position: relative;
    height: 94%;
    width: 94%;
    z-index: 3;
    top: 3%;
    left: 3%;
}
.songflower-sunflower #sunflower-ring-3 {
    position: relative;
    height: 76%;
    width: 76%;
    z-index: 3;
    top: 12%;
    left: 12%;
}
.songflower-sunflower #sunflower-ring-2 {
    position: relative;
    height: 76%;
    width: 76%;
    z-index: 3;
    top: 12%;
    left: 12%;
}
.songflower-sunflower #sunflower-ring-1 {
    position: relative;
    height: 58%;
    width: 58%;
    z-index: 3;
    top: 21%;
    left: 21%;
}

/* extra sunflowers */
.sunflower-background {
    position: relative;
    height: 83.333%;
    width: 35.7%;
    left: 32.14%;
}
.sunflower-background #sunflower-minute-1 {
    position: absolute;
    height: 20%;
    width: 20%;
    z-index: 3;
    top: 15%;
    left: 40%;
}
.sunflower-background #sunflower-minute-2 {
    position: absolute;
    height: 20%;
    width: 20%;
    z-index: 3;
    top: 20%;
    left: 70%;
}
.sunflower-background #sunflower-minute-3 {
    position: absolute;
    height: 20%;
    width: 20%;
    z-index: 3;
    top: 40%;
    left: 45%;
}
.sunflower-background #sunflower-minute-4 {
    position: absolute;
    height: 20%;
    width: 20%;
    z-index: 3;
    top: 50%;
    left: 70%;
}
.sunflower-background #sunflower-minute-5 {
    position: absolute;
    height: 20%;
    width: 20%;
    z-index: 3;
    top: 50%;
    left: 25%;
}
.sunflower-background #sunflower-stem {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.sunflower-label {
    position: relative;
    width: 17.85%;
    height: 11.16%;
    left: 39.3%;
    top: -89.16%;
    word-wrap: break-word;
    line-height: 50%;
    z-index: 5;
}
.sunflower-label #sunflower-song-name {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    text-align: center;
    /* font-size: large; */
    font-size: 1.2vw;
    line-height: 100%;
    z-index: 5;
}
.sunflower-label #sunflower-artists-names {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    /* font-size: 80%; */
    font-size: .86vw;
    line-height: 100%;
    z-index: 5;
}
.sunflower-label #sunflower-time {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    /* font-size: 80%; */
    font-size: .86vw;
    z-index: 5;
}

/* ********** */
/* REDFLOWER  */
/* ********** */
/*redflower with variable number of rings*/
.songflower-redflower{
    position: relative;
    height: 15%;
    width: 6.4%;
    top: -80.8333%;
    left: 14.5%;
}
.songflower-redflower #redflower-petals {
    position: absolute; 
    height: 46%;
    width: 46%;
    z-index: 4;
    top: 27%;
    left: 27%;  
    
} 
.songflower-redflower #redflower-ring-7 {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0%;
    left: 0%;
}
.songflower-redflower #redflower-ring-6 {
    position: relative;
    height: 94%;
    width: 94%;
    z-index: 3;
    top: 3%;
    left: 3%;
}
.songflower-redflower #redflower-ring-5 {
    position: relative;
    height: 94%;
    width: 94%;
    z-index: 3;
    top: 3%;
    left: 3%;
}
.songflower-redflower #redflower-ring-4 {
    position: relative;
    height: 94%;
    width: 94%;
    z-index: 3;
    top: 3%;
    left: 3%;
}
.songflower-redflower #redflower-ring-3 {
    position: relative;
    height: 76%;
    width: 76%;
    z-index: 3;
    top: 12%;
    left: 12%;
}
.songflower-redflower #redflower-ring-2 {
    position: relative;
    height: 76%;
    width: 76%;
    z-index: 3;
    top: 12%;
    left: 12%;
}
.songflower-redflower #redflower-ring-1 {
    position: relative;
    height: 58%;
    width: 58%;
    z-index: 3;
    top: 21%;
    left: 21%;
}

/* extra redflowers */
.redflower-background {
    position: relative;
    height: 50%;
    width: 28.57%;
    left: 0%;
    top: -129.5%;
}
.redflower-background #redflower-minute-1 {
    position: absolute;
    height: 25%;
    width: 18.75%;
    z-index: 3;
    top: 76.66%;
    left: 30%;
}
.redflower-background #redflower-minute-2 {
    position: absolute;
    height: 25%;
    width: 18.75%;
    z-index: 3;
    top: 53.3%;
    left: 35%;
    
}
.redflower-background #redflower-minute-3 {
    position: absolute;
    height: 25%;
    width: 18.75%;
    z-index: 3;
    top: 60%;
    left: 71.25%;
}
.redflower-background #redflower-minute-4 {
    position: absolute;
    height: 25%;
    width: 18.75%;
    z-index: 3;
    top: 73.33%;
    left: 12.5%;
}
.redflower-background #redflower-minute-5 {
    position: absolute;
    height: 25%;
    width: 18.75%;
    z-index: 3;
    top: 80%;
    left: 80%;
}
.redflower-background #redflower-bucket {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.redflower-label {
    position: relative;
    width: 17.85%;
    height: 11.16%;
    left: 6.4%;
    top: -170.8%;
    word-wrap: break-word;
    line-height: 50%;
    z-index: 5;
}
.redflower-label #redflower-song-name {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    text-align: center;
    font-size: 1.2vw;
    line-height: 100%;
    z-index: 5;
}
.redflower-label #redflower-artists-names {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: .86vw;
    line-height: 100%;
    z-index: 5;
}
.redflower-label #redflower-time {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: .86vw;
    z-index: 5;
}


/* ********** */
/* PURPLEFLOWER  */
/* ********** */
/*purpleflower with variable number of rings*/
.songflower-purpleflower{
    position: relative;
    height: 15%;
    width: 6.42%;
    top: -148.33%;
    left: 84.64%;
}
.songflower-purpleflower #purpleflower-petals {
    position: absolute; 
    height: 46%;
    width: 46%;
    z-index: 4;
    top: 27%;
    left: 27%;  
    
} 
.songflower-purpleflower #purpleflower-ring-7 {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0%;
    left: 0%;
}
.songflower-purpleflower #purpleflower-ring-6 {
    position: relative;
    height: 94%;
    width: 94%;
    z-index: 3;
    top: 3%;
    left: 3%;
}
.songflower-purpleflower #purpleflower-ring-5 {
    position: relative;
    height: 94%;
    width: 94%;
    z-index: 3;
    top: 3%;
    left: 3%;
}
.songflower-purpleflower #purpleflower-ring-4 {
    position: relative;
    height: 94%;
    width: 94%;
    z-index: 3;
    top: 3%;
    left: 3%;
}
.songflower-purpleflower #purpleflower-ring-3 {
    position: relative;
    height: 76%;
    width: 76%;
    z-index: 3;
    top: 12%;
    left: 12%;
}
.songflower-purpleflower #purpleflower-ring-2 {
    position: relative;
    height: 76%;
    width: 76%;
    z-index: 3;
    top: 12%;
    left: 12%;
}
.songflower-purpleflower #purpleflower-ring-1 {
    position: relative;
    height: 58%;
    width: 58%;
    z-index: 3;
    top: 21%;
    left: 21%;
}

/* extra purpleflowers */
.purpleflower-background {
    position: relative;
    height: 83.33%;
    width: 28.57%;
    left: 71.42%;
    top: -191%;
}
.purpleflower-background #purpleflower-minute-1 {
    position: absolute;
    height: 15%;
    width: 18.75%;
    z-index: 3;
    top: 38%;
    left: 10%;
}
.purpleflower-background #purpleflower-minute-2 {
    position: absolute;
    height: 15%;
    width: 18.75%;
    z-index: 3;
    top: 35%;
    left: 75%;
    
}
.purpleflower-background #purpleflower-minute-3 {
    position: absolute;
    height: 15%;
    width: 18.75%;
    z-index: 3;
    top: 16%;
    left: 37.5%;
}
.purpleflower-background #purpleflower-minute-4 {
    position: absolute;
    height: 15%;
    width: 18.75%;
    z-index: 3;
    top: 18%;
    left: 10%;
}
.purpleflower-background #purpleflower-minute-5 {
    position: absolute;
    height: 15%;
    width: 18.75%;
    z-index: 3;
    top: 16%;
    left: 75%;
}
.purpleflower-background #purpleflower-pot {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.purpleflower-label {
    position: relative;
    width: 17.85%;
    height: 11.16%;
    left: 78.21%;
    top: -278.3%;
    word-wrap: break-word;
    line-height: 50%;
    z-index: 5;
}
.purpleflower-label #purpleflower-song-name {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
    font-size: 1.2vw;
    z-index: 5;
}
.purpleflower-label #purpleflower-artists-names {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: .86vw;
    line-height: 100%;
    z-index: 5;
}
.purpleflower-label #purpleflower-time {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: .86vw;
    z-index: 5;
}